h1
{
    text-align: center;
    margin-bottom: 20px;
}
.price
    {
        color: red;
        font-size: 16;
        margin: 10px;
    }
.company
{
    color: rgb(0, 123, 255);
}
.up
{
    display: none;
}
